<div class="wrapper row0">
	<div id="topbar" class="hoc clear"> 
		<div class="fl_left">
			<ul class="nospace">
				<li><a href="index.php"><i class="fas fa-home fa-lg"></i></a></li>
				<li><a href="#">Thông tin</a></li>
				<li><a href="#">Liên hệ</a></li>
				<li><a href="sources/main-admin.php">Đăng nhập</a></li>
			</ul>
		</div>
		<div class="fl_right">
			<ul class="nospace">
				<li>Nhóm 6</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper row1">
	<header id="header" class="hoc clear"> 
		<div id="logo">
			<h1 class="logoname"><a href="index.php"><span>Bảng xếp hạng đại học</span></a></h1>
		</div>
	</header>
	<nav id="mainav" class="clear"> 
		<ul class="clear">
			<li class="active"><a href="index.php">Trang chủ</a></li>
			<li><a class="drop" href="#">Xếp theo vùng miền</a>
				<ul>
					<li><a href="region.php?con=Africa&page=1">Châu Phi</a></li>
					<li><a href="region.php?con=America&page=1">Châu Mỹ</a></li>
					<li><a href="region.php?con=Asia&page=1">Châu Á</a></li>
					<li><a href="region.php?con=Australia&page=1">Úc </a></li>
					<li><a href="region.php?con=Europe&page=1">Châu Âu</a></li>
				</ul>
			</li>
			<li><a class="drop" href="#">Xếp theo các tiêu chí</a>
				<ul>
					<li><a href="criteria.php?page=1&crit=teaching">Điểm dạy học</a></li>
					<li><a href="criteria.php?page=1&crit=international">Điểm quốc tế</a></li>
					<li><a href="criteria.php?page=1&crit=research">Điểm nghiên cứu</a></li>
					<li><a href="criteria.php?page=1&crit=citations">Điểm trích dẫn</a></li>
					<li><a href="criteria.php?page=1&crit=num_students">Số sinh viên</a></li>
					<li><a href="criteria.php?page=1&crit=student_staff_ratio">Tỉ lệ sinh viên/nhân viên</a></li>
					<li><a href="criteria.php?page=1&crit=international_students">Tỉ lệ sinh viên quốc tế</a></li>
				</ul>
			</li>
			<li><a href="search.php">Tìm kiếm</a></li>
		</ul>
	</nav>
</div>	